.about {
    padding: 5rem 15vw;
    background-color: #3a3a3a;
    text-align: center;
}

.tracks-container {
    text-align: center;
}

.track-switch {
    height: 100%;
    margin: 0.5px;
    position: relative;
    border: none;
    display: inline-block;

    font-size: 1rem;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}


.track.hack.right {
    display: none;
}

.track.hack.middle {
    display: none;
}

.track.design.left {
    display: none;
}

.track.design.right {
    display: none;
}

.track.learn.left {
    display: none;
}

.track.learn.middle {
    display: none;
}

.track.hack.left {
    display: block;
}

.track.design.middle {
    display: block;
}

.track.learn.right {
    display: block;
}

.line {
    border-left: 3px solid white;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
}
