.faq {
    /*padding: 5rem 15vw;*/
    padding: 5rem 2rem;
    background-color: #212121;
}

.faq-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.faq-side {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.faq-side-left {
    color: '#3ABFEF';
}

.question-wrapper {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #101010;
    cursor: pointer;
}

.question-wrapper:hover > .question-text {
    color: white;
}

.question-color {
    width: 0.5rem;
    height: 100%;
}

.question-text {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 0.75rem;
    padding-top: 2.5rem;
    transition: 0.2s;
    color: #aaa;
}

.answer-wrapper {
    width: calc(100% - 2rem);
    padding: 0.25rem 1rem 0;
    font-size: 1rem;
    text-align: left;
    overflow: hidden;
    text-overflow: clip;

    /* Expand the answer box when clicked */
    height: 0;
    transition: height 0.5s;
}

.answer-wrapper.show {
    /* This can alternatively be coded to be specified per question using js */
    height: 4rem;
}

.special {
    height: 15rem;
}
