.faq {
    padding: 5rem 15vw;
    background-color: #212121;
}

.faq-dropdown-button-container {
    background-color: lightgray;
}

.faq-dropdown-section {
    background-color: rgb(31, 77, 31);
    color: white;
}

.closed {
    height: 0px;
    background-color: black;
}
