/*Footer stuff*/

.footer {
    padding: 5rem 15vw 1rem;
    background-color: #0f0f0f;
}

.footer-title {
    padding-bottom: 2rem;
}

.footer-info {
    margin: 1rem 0;
    font-size: 1rem;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-item {
    height: 40px;
    width: 40px;
    margin-right: 4rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer-item:hover {
    transform: scale(1.15);
}
