/*Footer stuff*/

.footer {
    padding: 0 15vw 3rem;
    background-color: #0f0f0f;
    height: 100vh;
}

.footer-signs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.footer-sign {
    width: 20rem;
    height: auto;
    margin-right: 3rem;
}

.footer-item {
    width: 4rem;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
    margin-top: -4px;
    transform: scale(1.15);
}

.footer-item:hover {
    transform: scale(1.30);
}

.bottom {
    display: flex;
}

.bottom-sign {
    min-width: 75vh;
    height: 100%;
}