.home {
    padding: 5rem 15vw;

    height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;

    background: linear-gradient(black 5%, #4701a9 50%, #9400cb 80%);
}

.home-title {
    margin: 0;
    font-family: var(--title-font);
    font-size: 6rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-register {
    width: 10rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.1rem;
    border: 0.2rem solid #202020;
    border-radius: 0.5rem;

    font-weight: 700;
    font-size: 1.3rem;
    background-color: #4a4a4a;
    transition: 0.3s;
    cursor: pointer;
}

.home-register:hover {
    box-shadow: 0 0 0.5rem 0.05rem #dddddd;
    border: 0.2rem solid #303030;
}
