.navbar{
    color:white;
    background-color:black;
    padding:0.5rem;
    position:relative;
    z-index:9999;
    display:flex;
}

.item{
    margin:0.5rem;
    padding:0.5rem;
    background-color: transparent;
}