.navbar{
    color:white;
    background-color:black;
    padding:1rem;
    position:relative;
    z-index:9999;
    display:flex;
}

.item{
    margin:1rem;
    padding:0.5rem;
    background-color: rgb(61, 61, 61);
}