.speakers {
    padding: 5rem 15vw;
    background-color: #2e2e2e;
}

.speakers-container {
    display: flex;
}

.speakers-display {
    position: relative;
    margin: 3rem;
    width: 100%;
    transform: scale(1.2);
}

.speakers-menu {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    justify-content: space-evenly;
    justify-items: end;
    align-content: space-evenly;
    align-items: center;
}

.speakers-screen {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3rem;
    width: 100%;
    transform: scale(1.2);
}

.speakers-info {
    padding: 3vw;
    position: absolute;
}
