.speakers {
    padding: 5rem 15vw;
    background-color: #2e2e2e;
    text-align: center;
}

.speakers-container {
    display: flex;
    flex-direction: row;
}

.speakers-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.speakers-display {
    margin: 0 0.3rem;
    flex-grow: 2;
}

.speakers-screen {
    margin: 3rem;
}
