.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 1rem;
    overflow: hidden;
    margin: 5rem 15vw;
}

.sponsor {
    padding-top: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.large {
    transform: scale(1);
}

.medium {
    transform: scale(0.8);
}

.small {
    transform: scale(0.6);
}

.large:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.medium:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.small:hover {
    transform: scale(0.7);
    transition: 0.3s;
}

.large-image {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}
