.faqbox {
    width: calc(100% - 30px);
    
    background-image: url("https://hacktams-backend.s3.us-east-2.amazonaws.com/images/faq-box-background-closed.png");
    
    background-size:100% 100%;
    padding: 15px;
    margin:10px;
    color: #fff;
    transition: max-height 0.6s;
    transition: background-color 0.6s;
    transition: box-shadow 0.6s;
    max-height: 30px;
    overflow: hidden;
    cursor: pointer;
}

.faqbox.open {
    max-height: 500px;
    background:url("https://hacktams-backend.s3.us-east-2.amazonaws.com/images/faq-box-background-closed.png") no-repeat, rgb(21, 88, 21);
    background-size:100% 2.5rem, auto;
    border-color:rgb(52, 90, 82);
    color:white;
    box-shadow: 0rem 0rem 0.5rem #fff;
}

.question {
    font-size: 1.3em;
    text-align: center;
}
