/*Footer stuff*/
h2 {
}
.footer {
    margin: 0 0vw 10rem;
    padding-top: 5rem;
    text-align: center;
}

.footer-title {
    width: 50%;
    float: left;
    padding-bottom: 2rem;
    margin: 0 5vw;
}
.footer-info {
    float: left;
    margin: 0 10vw;
    font-size: 1rem;
    color: white;
}

.footer-links {
    float: left;
    display: flex;
    justify-content: space-evenly;
}

.footer-item {
    height: 40px;
    width: 40px;
    margin-right: 4rem;
    cursor: pointer;
}

.footer-item:hover {
    transition: 0.3s;
    transform: scale(1.15);
}