.sponsors__wrapper {
    width: 100%;
    height: 50vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sponsors__panel-left {
    transform: translateX(0%);
}

.sponsors__panel-right {
    transform: translateX(100%);
    transform: scaleX(-1);
    transform-origin: right;
}

.sponsors__panel-left.animate {
    transition-delay: 2s;
    transform: translateX(-100%);
}

.sponsors__panel-right.animate {
    transition-delay: 2s;
    transform: scaleX(-1);
    transform-origin: right;
    transform: translateX(200%);
}

.sponsors__panel {
    background-image: url("../images/doors.svg");
    width: 50%;
    height: 50vh;
    z-index: 2;
    transition: all 1s ease-out;
}

.sponsors__images {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sponsors__images.animate {
    opacity: 1;
    animation-name: fadeInAnimation;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    transition-delay: 4s;
    animation-iteration-count: 1;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sponsors__images img {
    max-height: 25%;
}
.vault {
    height: 100px;
    width: 100px;
    margin: 0;
    top: 37.325%;
    left: 75%;
    z-index: 1;
}

.vault img {
    height: 100px;
    width: 100px;
}

.vault.animate {
    transition: transform 1s ease-in-out;
    transform: rotate(360deg);
    transition-delay: 1s;
}

.vault,
.sponsors__panel,
.sponsors__images {
    position: absolute;
}
