@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Open+Sans:wght@400;500;700&display=swap');

#root {
    --title-font: 'Patrick Hand', sans-serif;
    --main-font: 'Open Sans', sans-serif;
    --text-primary: #ffffff;
}

a {
    text-decoration: none;
    color: rgb(68, 199, 186);
    transition: 0.3s;
}

a:hover {
    color: rgb(75, 227, 212);
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 4rem;
    margin: 1rem 0;
    color: white;
}

h2 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 3.5rem;
    margin: 1rem 0;
    color: white; 
}

h3 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 2rem;
    margin: 1rem 0;
    color: white; 
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.01rem;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1rem;
    background-color: #222;
}

.logo {
    height: 5rem;
    padding: 0.1rem;
}

.more {
    height: 50vw;
    margin-bottom: 50px;
}